@charset "UTF-8";

.nav-login{
	text-align: center;
	margin-top: 10px;
	text-weight: bold;
	color: gray;
	font-size: 43px;
}
.home-login{
	background-color: gray;
	color: white;
	border: 1px solid lightgray;
	height: 35px;
}
